.todo-control-panel {
    margin-top: 2rem;
}

.todo-icon {
    margin-left: 0.5vw;
    cursor: pointer;
}

.todo-elements-list {
    display: flex;
    flex-direction: column;
}

.todo-element {
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: center;
}